certifi
setuptools
pip
packaging
pillow
click
fonttools
pytelegrambotapi
idna
jinja2
pyparsing
charset-normalizer
werkzeug
requests
python-dateutil
soupsieve
markupsafe
itsdangerous
urllib3
six
blinker
kiwisolver
contourpy
python-dotenv
wheel
graphviz
cycler
colorama

